doctype html

html
    head
        title User Management
    body
        h1 User Management
        a(href='./createuser')
            button Add Users
        a(href='./users')
            button User Listings
